.popup__input-error-message {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    min-height: 15px;
    color: #aa4545;
    padding-bottom: 12px;
  }