@import url(./_blue/popup__form-button_blue.css);
@import url(./_grey/popup__form-button_grey.css);

.popup__form-button {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
   
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 18px;
    padding-bottom: 21px;
    
   
    border-style: none;
    margin-top: 5px;
    margin-bottom: 0px;
    
}